table,th,td{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif ;
    border-spacing: 0px;
    padding: 1px;
    border: 1px solid #808080;
}
.bluetext{
    cursor: pointer;
    color: #0000ff ;
    text-decoration: underline;
    text-align: center;
}

th{
    background-color: #d3d3d3;
    padding-left: 5px;
    padding-right: 5px;
}
.planets{
    font-weight: bold;
    background-color: #d3d3d3;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
}
.name{
    font-weight: bold;
    background-color: lightgrey;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
}
.pluto{
    font-weight: bold;
    background-color: lightgrey;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
tr{
    
    background-color: #d3d3d3;
}
tr:nth-child(even){
    
    background-color: #FFFFF0;
}
table{
    padding: 0px;
    border: 1px solid #808080;
    width:100%;
    background-color: #d3d3d3;
}
.tray{
    
    background-color: #FFFFF0;
}
